*{margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.fondoIndex{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(86,86,94,1) 57%, rgba(11,105,125,1) 100%, rgba(0,212,255,1) 100%);
}
.fondoForm{  
    padding-top: 1% ;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    /* background-image: url(images/fondo.jpg); */
}
footer{
    margin-top: 10px;
    padding: 20px;
    color: aliceblue;
    background-color: rgb(63, 56, 56);
}
footer a {
    color: aliceblue;
    text-decoration: none;
  }

/* Formulario */
.form{
    width: 400px;
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(95, 95, 126);
    box-shadow: 10px 10px 40px;

}
.form h4{
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
}

.campo{
    width: 100%;
    padding: 10px;
    margin: 10px;  
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: azure;
}
.buton{
    width: 100%;
    padding: 12px;
    margin: 10px;  
    border: none;
    margin-bottom: 10px;
    color: white;
    background: rgb(179, 179, 236);
}

.form p{
    color: white;
    text-decoration: none;
    text-align: center;
}

.form a{
    color: white;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
/* ///////////////////////////////////////////// */

/* al achicar cambie de color el footer */
/* @media (max-width: 700px) {
    footer{background-color: red;}
} */
.fotonos{
    width: 100px;
    border-radius: 200px;
    box-shadow: 5px 5px 20px;
}
/*Api*/
/* .contain{

    background-color: transparent;
    color: white;
  } */
.contain{
    /* border: 3px solid rgb(55, 0, 255); */
    height: 100px;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 0px;
    background-color: transparent;
    margin-left: 10px;
    color: white;
  }

  #letra{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
#bot2{
    color: white;
    background-color: blue;
    align-self: center;
}
#city{
    align-self:baseline;
}

/* ///////////////////////////////////////////// */
/* .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */
