*{margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
footer{
    margin-top: 10px;
    padding: 20px;
    color: aliceblue;
    background-color: rgb(63, 56, 56);
}

/* Formulario */
.form{
    width: 400px;
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    background: rgb(95, 95, 126);
    box-shadow: 10px 10px 40px;
}
.form h4{
    font-size: 22px;
    margin-bottom: 10px;
}

.campo{
    width: 100%;
    padding: 10px;
    margin: 10px;  
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: azure;
}
.buton{
    width: 100%;
    padding: 12px;
    margin: 10px;  
    border: none;
    margin-bottom: 10px;
    color: white;
    background: rgb(179, 179, 236);
}

.form p{
    color: white;
    text-decoration: none;
    text-align: center;
}

.form a{
    color: white;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}
/* ///////////////////////////////////////////// */

.fondo{
    padding-top: 1%;
    background-image: url(images/fondo.jpg);
    /* background-repeat:no-repeat; */
}

/* al achicar cambie de color el footer */
/* @media (max-width: 700px) {
    footer{background-color: red;}
} */
.fotonos{
    width: 100px;
    border-radius: 200px;
    box-shadow: 5px 5px 20px;
}
.contain{
    border: 3px solid rgb(55, 0, 255);
    height: 150px;
    width: 250px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 0px;
    background-color: black;
    margin-left: 30px;
    color: white;
  }

  #letra{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
#bot2{
    color: white;
    background-color: blue;
    align-self: center;
}
#city{
    align-self:baseline;
}
